.bg-img1 {
  background-color: #000;
  background-size: cover;
  background-attachment: fixed;
  background-image: url(img/img_1.jpg);
  height: 75vh;
}
.bg-img2 {
  background-color: #000;
  background-size: cover;
  background-attachment: fixed;
  background-image: url(img/img_2.jpg);
  height: 75vh;
}
.bg-img3 {
  background-color: #000;
  background-size: cover;
  background-attachment: fixed;
  background-image: url(img/img_3.jpg);
  height: 75vh;
}
footer.container {
  padding-top: 15vh;
}
